.react-phonenumber-input_select {
  outline: none;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

.react-phonenumber-input_input {
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0;
  display: block;
  line-height: 16px;
  background-color: transparent;
  width: 100%;
}
