.react-phonenumber-input_select {
  outline: none;
  border: none;
  font-size: 20px;
}
.react-phonenumber-input_calling-code {
  margin-left: 3px;
  margin-right: 4px;
  font-size: 14px;
  display: block;
  line-height: 16px;
}

.react-phonenumber-input_input {
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0;
  display: block;
  line-height: 16px;
}
